<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Crie uma senha</label>
    <input
      type="password"
      id="room-pass"
      name="password"
      placeholder="Insira uma senha"
    />
    <button>
      <img src="images/users1.svg" alt="entrar na sala" />

      Criar Sala
    </button>
  </form>
</section>
